/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

* {
  margin: 0px;
  padding: 0px;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14pt; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

a {
  text-decoration: none;
  color: inherit;
}

#navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 100%;
  margin: 0px;
  padding: 20px;
  background-color: var(--main-red);
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 0px 25px;
}

main {
  padding-top: 50px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#projects {
  text-align: center;
  background-color: var(--main-blue);
  padding-top: 35px;
}

#projects h2 {
  width: 55%;
  margin: auto;
  border-bottom: 1px solid var(--main-white);
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 25px 0px 0px 0px;
}

#projects .project {
  background-color: var(--main-gray);
  max-width: 45%;
  border: 1px solid black;
  margin: 5px;
}

.project p {
  font-size: 12pt;
  padding: 10px;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

#contact {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 25px;
  background-color: var(--main-gray);
  height: 100vh;
}

#contact h2 {
  font-size: 30pt;
  margin: 20px 0px;
}

.contact-container {
  display: flex;
  justify-content: space-around;
}

.contact-details {
  font-size: inherit;
  transition: font-size ease-in 0.7s;
}

.contact-details:hover {
  font-size: 25pt;
}
